@import	'nib/vendor'
@import 'nib/gradients'
@import "normalize.styl"
@import 'foundation'

vendor-prefixes = o ms moz webkit 

body
	 background: white
		
footer
	background #000
	background-image:url('../img/botton_barra_negra.png')
	text-align: center
	font-size 12px
// img
// 	width 100% 	
.aztecdate
	padding-top 18px	
	
.columns
	padding-left 0px
	padding-right 0px 
	
.comic
	background #f68b1f
	text-align right   
  
	
.row	
	max-width 100%

.top-bar
	background #41A4E5 
	// background-image url('../img/top_back_azul.png')  
	height: 88px 
	border-bottom: 10px	

.card
	-webkit-transform-style preserve-3d
	-webkit-transition: 1s
	position relative
	transform-style preserve-3d
	transition 1s
	
.face
	 -webkit-backface-visibility hidden
	backface-visibility hidden
	width 100% 
	
.card:hover
	-webkit-transform rotateY(180deg)
	transform rotateY(180deg)
	
.date ul
	display list-item
	 	
.front
	width 100% 

.espalda
	-webkit-transform rotateY(180deg)	
	position absolute
	top 0px
	transform rotateY(180deg)
	width 100%
	
.social ul
	padding-top 5px
	margin-bottom 5px
	
.social ul li
	display inline 

.top-bar-section ul li 
	background none 

	
#horoscopo
	width 70px 
	position relative 
	top -10px

#d1
	width: 100%


#grecas
	
	background: rgba(49, 168, 49, 0.43)
	background-image url('../img/top_frame_grecas.png')  
	height 15px 
	
			
